//tutaj wrzucaj zmienne i potem importuj ten do dziecka w którym one są

$font-body: 'Source Sans Pro', sans-serif;
$navbarBreakingLenght: 840px;
$userProfileBreakingLenght: 790px;

//wgrane czcionki
$font1: 'Noto Sans', sans-serif;
$font2: 'Amiko', sans-serif;
$font3: 'Source Sans Pro', sans-serif;
$font4: 'Josefin Sans', sans-serif;
$font5: 'Ubuntu', sans-serif;


$font-button: 'Amiko', sans-serif;
