.employeePreviewProfileBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(226, 226, 226);
  padding: 10px 10px 10px 15px;
  margin: 15px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.employeePreviewPhotoAndInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 10px;
}

.employeePhotoBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 250px;
  background: linear-gradient(45deg, white, #f1f1f1);
  //background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 28px 3px rgba(135, 135, 135, 0.62);
  padding: 15px;
}

.employeePhoto {
  width: 280px;
  height: 230px;
  border-radius: 5px;
}

.employeeInfoBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px 15px 15px 0px;
}

.employeePreviewPanelTitle {
  margin-bottom: 10px;
}

.employeeQualiListTitle,
.userQualiAddTitle {
  font-family: $font1;
  margin-bottom: 10px;
  font-size: 36px;
}

.userPanelTitle {
  margin-top: 20px;
  font-size: 46px;
  font-family: $font1;
  text-shadow: 2px 2px white;
}

.qualiPreview {
  margin-top: 10px;
}

.employeeInfo {
  margin-top: -8px;
  background: white;
  border-radius: 0px 5px 5px 0px;
  padding: 5px 15px 5px 10px;
  //font-size: 26px;
  font-size: 22px;
  font-family: "Ubuntu";
  color: rgb(61, 60, 60);
  display: inline-flex;
  word-break: break-word;
  box-shadow: 3px 3px 6px 1px rgba(135, 135, 135, 0.62);
}

@media only screen and (max-width: 1560px) {
  .employeePreviewPhotoAndInfo {
    flex-direction: column;
    align-items: center;
  }
  //$navbarBreakingLenght
  .employeeInfo {
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .employeePhotoBackground {
    display: none;
  }
  .employeePreviewPanelTitle {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 840px) {
  .employeePreviewProfileBox {
    display: none;
  }
  .person__profile {
    display: none;
  }
}

.employeeQualiBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.employeePanelInputsTitles {
  font-family: $font3;
  padding: 0 0 5px 10px;
}
