.employeesBox {
  display: flex;
  flex-wrap: wrap-reverse;
  height: 100%;
}

.employeesLeftColumn {
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  //min-width: 400px;
  display: flex;
  flex-direction: column;
}

.employeesRightColumn {
  flex: 1;
  align-items: flex-start;
  min-width: 400px;
  display: flex;
}

@media only screen and (max-width: $navbarBreakingLenght) {
  .employeesBox {
    display: inline-flex;
  }
}
