.employeeQualiContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  //max-width: 780px;
}

.employeeQualiListTitle {
  //margin-top: 10px;
  text-align: center;
}

.employeerQualiList {
  max-width: 600px;
  max-height: 400px;
  display: flex;
  list-style-type: none;
  padding-right: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

.employeeQuali {
  padding: 4px;
  font-size: 22px;
  border-width: 0px;
  background-color: #2887b2;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 0px 7px rgba(66, 66, 66, 0.4);
  text-shadow: 0px 0px 10px rgba(66, 66, 66, 0.66);
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-flex;
  word-break: break-word;
}

@media only screen and (max-width: 1560px) {
  .employeeQualiListTitle {
    margin-top: 0;
  }
  .employeerQualiList {
    max-height: 350px;
    overflow: auto;
  }
}
