.employeeListBox {
  width: 400px;
  max-width: 450px;
  max-height: 680px;
  overflow: auto;
  text-align: left;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
  border: 2px solid rgb(226, 226, 226);
  box-shadow: 2px 4px 3px -2px rgba(0, 0, 0, 0.24);
  background-color: white;
}

.employeeList {
  font-family: $font-body;
  font-size: 22px;
  text-align: center;
  word-break: break-word;
  border-bottom: 2px solid rgb(201, 200, 200);
}

@media only screen and (max-width: 450px) {
  .employeeListBox {
    width: 300px;
  }
}
