.employeesSearchBox {
    max-width: 450px;
    text-align: left;
    border-radius: 10px;
    padding: 8px 30px;
    margin: 10px;
    border: 2px solid rgb(226, 226, 226);
    box-shadow: 2px 4px 3px -2px rgba(0,0,0,0.24);
    background-color: white;
    margin-top: 15px;
}

.searchEmployeeTitle{
    padding-top: 10px;
    font-family: $font-body;
    font-size: 30px;
    text-align: center;
    word-break: break-word;
    font-weight: 200;
}

.searchEmployeeDesc{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
    margin: auto;
    text-align: center;
}

.searchEmployeeContainer{
    width: 240px;
    margin: 0 auto;
}

#employeeSearchBar{
    padding: 10px;
    display: inline-block;
}

.searchEmployeeIcon {
    height: 25px;
    margin: 1px;
    padding: 6px;
    background-color: #FFBC6C;
    position: relative;
    float: right;
    border-radius: 5px;
}
