.addTechnologyBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding: 10px;
  //background-color: #ebebeb;
  // max-width: 1500px;
  width: 100%;
  margin: auto;
}

.AddTechnologyForm {
  margin: 16px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.TechnologyInputField {
  width: 400px;
  height: 36px;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  border-color: #ffbc6c;
  padding: 0px 10px;
  font-size: 16px;
  background: #faebd770;
}

@media only screen and (max-width: 800px) {
  .TechnologyInputField {
    width: 90%;
  }
}
