.addProjectBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 30px 0px;
  background-color: white;
  border-style: dotted;
  border: 2px solid;
  border-color: #ffbc6c;
  border-radius: 10px;
  max-width: 1300px;
  width: 100%;
  margin: auto;
  margin: 15px 15px 15px 15px;
}

.projectData,
.projectDesc {
  width: 40%;
  margin-right: 20px;
}

.addProjectForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.AddProjectInputField {
  width: 100%;
  height: 40px;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  border-color: #ffbc6c;
  background: white;
  padding: 5px 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 10px;
}

.AddProjectSelectField {
  width: 100%;
  //height: 40px;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  border-color: #ffbc6c;
  //padding: 5px 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 10px;
}

.AddProjectDescField {
  width: 100%;
  min-height: 40px;
  height: 282px;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  border-color: #ffbc6c;
  background: white;
  padding: 5px 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 10px;
  resize: vertical;
}

@media only screen and (max-width: 800px) {
  .addProjectForm {
    flex-direction: column;
  }
  .projectData,
  .projectDesc {
    width: 96%;
  }
}

.AddProjectInputField.DatePlaceholder::before {
  width: 100%;
  color: hsl(0, 0%, 50%);
  content: attr(placeholder);
}

.AddProjectInputField.DatePlaceholder:hover::before {
  width: 0%;
  content: "";
}

.addProjectCenter {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.positions {
  margin-top: 20px;
}

.addProjectResponse {
  margin-top: 20px;
}
