.submitButtonBrown {
  -moz-box-shadow: 0px 3px 28px -6px #71747a;
  -webkit-box-shadow: 0px 3px 28px -6px #71747a;
  box-shadow: 0px 3px 28px -6px #71747a;
  background-color: #faa844;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  border: 1px solid #ffe3ba;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Ubuntu", MS;
  font-size: 24px;
  padding: 4px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 9px #a86d6d;
  outline: none;
  margin-top: 45px;
}
.submitButtonBrown:hover {
  background-color: #faa844;
}
.submitButtonBrown:active {
  position: relative;
  top: 1px;
}

.submitButtonBrown:active {
  transform: translate(0, 1px);
}
