.bg {
  height: 100vh;
}

.bgImg {
  background-image: url("../assets/images/bglogin.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.9;
  filter: sepia(45%);
}

.flex {
  position: fixed;
  display: flex;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.whiteBox {
  display: flex;
  background-color: white;
  width: 500px;
  height: 800px;
  border-radius: 3px;
  box-shadow: 0px 0px 15px 3px grey;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.loginLogo {
  margin-top: 20px;
  background-image: url("../assets/images/logo.png");
  width: 160px;
  height: 115px;
  background-size: cover;
}

.siteName {
  margin-top: 20px;
  font-family: $font4;
  font-size: 65px;
  letter-spacing: 1px;
  word-spacing: 1.6px;
  color: rgb(59, 59, 59);
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}

.loginTitle {
  font-size: 30px;
  letter-spacing: 0.1px;
  color: rgb(59, 59, 59);
  font-weight: 700;
  font-family: $font2;
}

#loginFrom {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 25px;
  align-items: center;
}

.formInput {
  font-size: 20px;
  text-align: left;
  color: #666;
  padding: 10px;
  border-style: outset;
}

.formInput::placeholder {
  color: #9b9b9b;
}

.noAccountDesc {
  margin-bottom: 10px;
}

.goToRegisterLink {
  background: none;
  font-size: inherit;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: rgb(31, 31, 31);
  text-decoration: underline;
}

.goToRegisterLink:hover {
  text-decoration: underline;
  color: orange;
}

.goToRegisterLink:focus {
  outline-color: orange;
}

.noAccountFooter {
  margin-top: auto;
  margin-bottom: 20px;
}

.resetPassword {
  align-self: flex-end;
  margin-top: -10px;
}
