.input {
    position:relative;
    width: 380px;
    height: 28px;
	background: linear-gradient(21deg, rgb(252, 217, 187), rgb(114, 95, 72));
	padding: 6px;
	display: inline-block;
    border-radius: 18px;
    margin-bottom: 20px;
	*:not(span) {
        height: 28px;
		position: relative;
		display: inherit;
		border-radius: inherit;
		margin: 0;
		border: none;
		outline: none;
		padding: 0.5px 0.5em;
		z-index: 1; // needs to be above the :focus span
		
		// summon fancy shadow styles when focussed
		&:focus + span {
			opacity: 1;
			transform: scale(1);
        }
        font-size: 22px;
        font-family: inherit;
        
	line-height:inherit;
	color:#2e3750;
    width:13em;	
    caret-color: grey;
	}
//sdssdsdsas
	span {
		transform: scale(.993, .94); // scale it down just a little bit
		transition: transform .5s, opacity .25s;
		opacity: 0; // is hidden by default
		position:absolute;
		z-index: 0; // needs to be below the field (would block input otherwise)
		margin:4px; // a bit bigger than .input padding, this prevents background color pixels shining through
		left:0;
		top:0;
		right:0;
		bottom:0;
		border-radius: inherit;
		pointer-events: none; // this allows the user to click through this element, as the shadow is rather wide it might overlap with other fields and we don't want to block those.
		
		// fancy shadow styles
		box-shadow: 
			3px -3px 30px #D8B79B, 
            -3px 3px 30px #7C6951;
            
	}

}

.input::placeholder {
	color:#cbd0d5;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}