.mainPageBG {
  position: relative;
  background: url("../assets/images/dpzshd.jpg") no-repeat center top;
  background-size: cover;
  //width: 100%;
  //height: 600px;
  height: 60vw;
  width: 100vw;
  max-height: 893px;
  z-index: -5;
}

.BGBlur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  word-break: break-word; //niepotrzebne raczej
  justify-content: center;
  z-index: 100;
  background: #ffbc6c; //albo 1682B2, 52C9FF, FFBC6C
  filter: opacity(0.6);
  z-index: -3;
}

.siteTitlePlaceholder {
  text-align: center; //niepotrzebne raczej
  font-size: 7vw;
  font-family: $font1;
  word-spacing: 1.6px;
  font-weight: 700;
  font-variant: small-caps;
  opacity: 0;
  z-index: -10;
}

.mainPageTextBar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  word-break: break-word; //niepotrzebne raczej
  justify-content: center;
  z-index: -2;
}

.projectSpace {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.mainPageButton {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.mainPageButton:hover {
  border-radius: 3px;
  .seeProjectsButton {
    background: #ffb052;
  }
  animation: fill-with-color 0.3s;
  animation-fill-mode: forwards;
}

.seeProjectsButton {
  max-height: 50px;
  background: #ffb052;
}

.seeProjectsText {
  font-size: 12px;
  display: inline-block;
  padding: 5px;
}

.seeProjectsIcon {
  padding: 5px;
  display: inline-block;
  vertical-align: -7px;
  margin-left: 5px;
}

/* @keyframes fill-with-color {
  0% {
    background: transparent;
  }
  20% {
    background: rgba(255, 177, 82, 0.137);
  }
  40% {
    background: rgba(255, 177, 82, 0.295);
  }
  60% {
    background: rgba(255, 177, 82, 0.466);
  }
  80% {
    background: rgba(255, 177, 82, 0.726);
  }
  100% {
    background: #ffb052;
  }
} */

//to na gorze wywalic

.mainPage {
  width: 100%;
  height: calc(100vh - 50px);

  background: rgba(255, 210, 158, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(255, 210, 158, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(255, 210, 158, 1)),
    color-stop(100%, rgba(241, 241, 241, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(255, 210, 158, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(255, 210, 158, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(255, 210, 158, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(255, 210, 158, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd29e', endColorstr='#f1f1f1', GradientType=1 );

  background-repeat: repeat-x;
  display: inline-flex;
}

//height:100vh;

.mainPageContainer {
  display: inline-flex;
  flex-direction: column;
}

.siteTitle {
  font-size: 120px;
  font-family: $font4;
  font-weight: 700;
  font-variant: small-caps;
  color: #ffffff;
  text-shadow: 0px 0px 5px #000000;
  padding: 40px 40px 0px 40px;
  margin-top: 40px;
}

.siteInfo {
  color: #553529;
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  max-width: 650px;
  margin: 40px;
  padding: 10px;
}

.mainPageButton {
  display: flex;
  color: #ffffff;
  text-shadow: 0px 0px 2px #000000;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background: #ffb052;
  width: 300px;
  height: 90px;
  margin: 50px;
  margin: 50px auto;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 0px 0px 6px white;
}

.mainPageButton:hover {
  background: #fac788;
}

.mainpageButtonLink {
  text-decoration: none;
}

.mainPagePhoto {
  align-self: flex-end;
  align-items: center;
  margin: 0 auto;
}

@media only screen and (min-width: 1370px) {
  .mainPageContainer {
    margin-left: 150px;
  }
}

@media only screen and (max-width: 930px) {
  .mainPagePhoto {
    display: none;
  }

  .mainPageContainer {
    margin-left: 0px;
  }
  .mainPage {
    justify-content: center;
  }
}
