@import "utils/variables";

$font-navbar: "Amiko", sans-serif;

.navbar {
  list-style: none;
  height: 50px;
  background-color: #ffbc6c;
  box-shadow: 0px 1px 3px grey;
  position: relative;
}

.navbar-element {
  z-index: 900;
  float: left;
  height: 49px;
}

.navbar-element-right {
  z-index: 900;
  height: 50px;
  float: right;
}

.navbar-element-text {
  text-transform: uppercase;
  padding: 5px;
  font-family: $font-navbar;
  font-size: 15px;
  font-weight: bold;
  margin: 11px;
  user-select: none;
}

.navbar-element:hover {
  cursor: pointer;
  background-color: rgb(250, 199, 136);
}

.navbar-element-right:hover {
  cursor: pointer;
  background-color: rgb(250, 199, 136);
  border-bottom-left-radius: 20px 50px;
  border-top-left-radius: 20px 50px;
}
.navbar-right-menu {
  text-align: right;
}

.navbar-element-logo {
  margin: 2px;
  float: left;
  height: 40px;
  user-select: none;
}

.navbar-element-hamburger {
  float: right;
  height: 40px;
  display: none;
}

.logo {
  user-select: none;
  float: left;
  height: 48px;
}

.hamburger {
  padding: 13px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 35px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}
.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}
.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear,
    transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear,
    transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media only screen and (max-width: $navbarBreakingLenght) {
  .navbar {
    background-color: #ffbc6c;
    width: 100%;
  }

  .navbar-element,
  .navbar-element-right {
    display: none;
  }

  .navbar-element-hamburger {
    float: right;
    height: 40px;
    display: initial;
  }

  .navbar-element.show {
    float: left;
    width: 100%;
    height: 49px;
    text-align: center;
    background-color: #ffbc6c;
    display: initial;
  }

  .navbar-element-right.show {
    float: left;
    width: 100%;
    height: 49px;
    text-align: center;
    background-color: #ffbc6c;
    display: initial;
  }

  .navmargin {
    margin-top: 6px;
  }

  .navbar-element:hover {
    cursor: pointer;
    background-color: rgb(250, 199, 136);
  }

  .navbar-element-right:hover {
    cursor: pointer;
    background-color: rgb(250, 199, 136);
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
}
