.person__avatar {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.person__name {
  float: left;
  vertical-align: middle;
  padding: 0px;
  margin-right: 10px;
  font-size: 14px;
  margin-top: -3px;
  text-align: left;
}

.person__status {
  float: right;
  vertical-align: middle;
  padding: 5px;
}

.person__profile {
  float: right;
  vertical-align: middle;
  padding: 5px;
  font-weight: bold;
  font-size: small;
}

.team__status {
  margin-top: 5px;
}

.hello {
  text-align: center;
  background-color: rgba(226, 226, 226, 0.568);
  border-radius: 5px;
  padding: 8px 40px 5px 10px;
  box-shadow: 2px 4px 3px -2px rgba(0, 0, 0, 0.24);
  height: 60%;
  max-width: 350px;
  overflow: auto;
  margin: 20px auto;
  vertical-align: middle;
}

.person__link {
  cursor: pointer;
}

.groupAdd {
  float: right;
}

.TLStar {
  padding: 5px;
  font-size: 30px;
  color: #ffb052;
  text-shadow: 0px 0px 1px #000;
}
