.personWhiteBar {
  position: relative; //moze psuć cssa
  z-index: 1000;
  height: inherit;
  background-color: white;
  padding: 5px 0px 5px 25px;
  box-sizing: border-box;
  border-bottom-left-radius: 20px 50px;
  border-top-left-radius: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  box-shadow: -9px 0px 51px -10px rgba(0, 0, 0, 0.59);
  margin-left: -7px; //asd
}

.personWhiteBar:hover {
  height: 70px;
  z-index: 1000;
}

.personContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  user-select: none;
}

.personPhoto {
  width: 70px;
  border-bottom-left-radius: 30px 50px;
  border-top-left-radius: 30px 50px;
  text-align: center;
  overflow: hidden;
  user-select: none;
}

.personName,
.personFirmName {
  font-family: "Source Sans Pro";
}

.personName {
  font-weight: 700;
}

.personFirmName {
  margin-top: 3px;
  font-size: 14px;
}

@media only screen and (min-width: $navbarBreakingLenght) {
  //tutaj wstawiac rzeczy tylko do wysokiej rozdzielczosci
  .personWhiteBar:hover {
    .personContainer::after {
      content: "przejdź do profilu";
      font-size: 10px;
      margin-top: 4px;
      font-weight: 700;
    }
  }
}

@media only screen and (max-width: $navbarBreakingLenght) {
  //tutaj wstawiac rzeczy tylko do niskiej rozdzielczosci
  .personWhiteBar {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    justify-content: center;
  }

  .personPhoto {
    border-bottom-right-radius: 30px 50px;
    border-top-right-radius: 30px 50px;
  }

  .personWhiteBar:hover {
    height: inherit;
  }
}
