.projectpage__box {
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 0 rgb(214, 214, 214);
  margin: 2em auto;
  padding: 1em;
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  width: 80%;
  max-width: 1000px;
}

.projectpage__card .projectpage__card__corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
  background-color: #e6e7e8;
  //background-color: #e6e7e8;
}

.projectpage__card
  .projectpage__card__corner
  .projectpage__card__corner-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 2em 2em 0;
  border-color: transparent #f1f2f2 transparent transparent;
}

.description {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
  margin: auto;
  text-align: center;
  height: 100px; // UNSTABLE
}

.find__description {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
  margin: auto;
  text-align: left;
}

.maindescription {
  border-top: 2px solid #ffbc6c;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
  margin: auto;
  text-align: center;
}

.project__tile {
  width: 40%;
  min-width: 300px;
  min-height: 300px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #ffbc6c;
  border-radius: 10px;
  display: inline-table;
  background-color: white;
}

.project__tile2 {
  width: 20%;
  min-width: 300px;
  min-height: 300px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #ffbc6c;
  border-radius: 10px;
  display: inline-table;
  background-color: white;
}

.project__title {
  padding-top: 10px;
  font-family: $font-body;
  font-size: 30px;
  text-align: center;
  word-break: break-word;
  font-weight: 200;
}

.project__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.project__members {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.members_title {
  font-family: $font-body;
  font-size: 25px;
  text-align: center;
  word-break: break-word;
  font-weight: 200;
  box-shadow: 0 2px 0 #ffbc6c;
}

.minipanel_title {
  font-family: $font-body;
  font-size: 22px;
  text-align: center;
  word-break: break-word;
  border-bottom: 2px solid rgb(201, 200, 200);
}

.teamleader__panel {
  width: 100%;
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 20px;
  min-height: 400px;
  padding: 10px;
  border: 2px solid rgb(218, 218, 218);
  border-radius: 10px;
  display: inline-table;
  background-color: rgb(235, 235, 235);
}

.teamleader__panel__title {
  font-family: $font-body;
  font-size: 20px;
  border-bottom: 2px solid rgb(172, 172, 172);
}

.teamleader__minipanel {
  width: 400px;
  max-width: 450px;
  text-align: left;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
  display: inline-table;
  border: 2px solid rgb(226, 226, 226);
  box-shadow: 2px 4px 3px -2px rgba(0, 0, 0, 0.24);
  background-color: white;
}

@media only screen and (max-width: 928px) {
  .teamleader__panel {
    padding: 0;
  }

  .teamleader__minipanel {
    width: 90%;
    min-width: 300px;
  }
}

@media only screen and (max-width: 400px) {
  .teamleader__panel {
    margin-top: 30px;
    width: 100%;
  }

  .teamleader__minipanel {
    min-width: 260px;
  }
}

#search-bar {
  padding: 10px;

  display: inline-block;
}

.searchicon {
  height: 25px;
  margin: 1px;
  padding: 6px;
  background-color: #ffbc6c;
  position: relative;
  float: right;
  border-radius: 5px;
}

.search-container {
  width: 240px;
  margin: 0 auto;
}

.addposition {
  margin-right: 15px;
}

.wantedPanelPosition {
  padding: 5px;
  list-style: none;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  user-select: none;
}

.wantedPanelPosition:hover {
  border-color: #ffe8cc;
  border-width: 1px;
  border-style: solid;
}

.wantedPanelPosition:focus {
  background: #ffe8cc;
  border-color: #ffe8cc;
  border-width: 1px;
  border-style: solid;
}
//
