.box {
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 0 rgb(214, 214, 214);
  margin: 2em auto;
  width: 400px;
  height: 300px;
  padding: 1em;
  position: relative;
  display: inline-table;
  margin-left: 20px;
  margin-right: 20px;
}
/* lil box*/

.card .card__corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
  background-color: #e6e7e8;
  //background-color: #e6e7e8;
  //background-color: #e6e7e8;
}

.card .card__corner .card__corner-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 2em 2em 0;
  border-color: transparent #f1f2f2 transparent transparent;
}

.projectlist__title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  text-align: center;
  word-break: break-word;
  font-weight: 200;
  box-shadow: 0 2px 0 #ffbc6c;
}

.projecttile__description {
  padding: 10px;
  word-break: break-word;
  color: #666;
  font-weight: 200;
  text-align: center;
}

.projectstile {
  max-width: 1500px;
  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 760px) {
  .box {
    width: 90%;
    min-width: 300px;
    margin: auto;
    margin: 10px;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1450px) {
  .box {
    width: 43%;
    margin: auto;
    margin: 10px;
  }
}

.ownerPanel {
  width: 70%;
  min-width: 300px;
  min-height: 200px;
  margin: 10px;
  padding: 10px;
  display: inline-table;
  border: 2px solid;
  border-color: #ffbc6c;
  background: white;
  border-radius: 10px;
}
