.registerSubmitButtonBrown {
	-moz-box-shadow: 0px 3px 28px -6px #71747a;
	-webkit-box-shadow: 0px 3px 28px -6px #71747a;
	box-shadow: 0px 3px 28px -6px #71747a;
	background-color:#faa844;
	-moz-border-radius:23px;
	-webkit-border-radius:23px;
	border-radius:23px;
	border:1px solid #ffe3ba;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Ubuntu', MS;
	font-size:20px;
	padding:4px 31px;
	text-decoration:none;
    text-shadow:0px 1px 9px #a86d6d;
    outline:none;
    width: 45%;
    margin-top: 50px;
}
.registerSubmitButtonBrown:hover {
	background-color:#faa844;
}
.registerSubmitButtonBrown:active {
	position:relative;
	top:1px;
}

.registerSubmitButtonBrown:active{
    transform: translate(0, 1px);
}
