.urfirm__container {
    width: 70%;
    min-width: 300px;
    min-height: 300px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #FFBC6C;
    border-radius: 10px;
    display: inline-table;
    background-color: white;
}

.urfirm__title {
    padding-top: 10px;
    font-family: $font-body;
    font-size: 30px;
    text-align: center;
    word-break: break-word;
    font-weight: 200;
  }

  .urfirm__description {
    border-top:  2px solid #FFBC6C;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
    margin: auto;
    text-align: center;
  }