.userQualiBox {
  display: flex;
  flex-direction: column;
  padding: 15px;
  //max-width: 780px;
}

.userQualiList {
  max-width: 390px;
  display: flex;
  list-style-type: none;
  padding-right: 40px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.userQuali {
  padding: 4px;
  font-size: 22px;
  border-width: 0px;
  background-color: #2887b2;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 0px 7px rgba(66, 66, 66, 0.4);
  text-shadow: 0px 0px 10px rgba(66, 66, 66, 0.66);
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-flex;
  word-break: break-word;
}

.qualiIcons {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  margin-left: auto;
  right: 0;
  color: rgb(206, 154, 154);
  padding: 0;
  padding-left: 15px;
}

.userQuali:hover .qualiIcons {
  color: red;
}
