.userQualiBox {
  display: flex;
}

.userQualiAddForm {
  margin: 4px 0px;
  max-width: 365px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.userQualiInputField {
  width: 100%;
  height: 36px;
  border-style: solid;
  border-radius: 3px;
  border-width: 3px;
  border-color: #2887b2;
  padding: 5px 10px;
  font-size: 16px;
}
