@import "utils/variables";

.userProfileBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userPhotoAndInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.photoBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 290px;
  background: linear-gradient(45deg, white, #f1f1f1);
  border-radius: 5px;
  box-shadow: 0px 0px 28px 3px rgba(135, 135, 135, 0.62);
  padding: 15px;
}

.userPhoto {
  width: 330px;
  height: 280px;
  border-radius: 5px;
}

.userInfoBox {
  width: 390px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px 15px 15px 0px;
}

.userInfo {
  margin-top: -8px;
  background: white;
  border-radius: 0px 5px 5px 0px;
  padding: 5px 15px 5px 10px;
  font-size: 20px;
  font-family: "Ubuntu";
  color: rgb(61, 60, 60);
  display: inline-flex;
  word-break: break-word;
  box-shadow: 3px 3px 6px 1px rgba(135, 135, 135, 0.62);
}

@media only screen and (max-width: $userProfileBreakingLenght) {
  .userInfoBox {
    padding: 15px 0px;
  }

  .userInfo {
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

.profileIcons {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  margin-left: auto;
  right: 0;
  color: #f1f1f1;
  padding: 0;
}

.userInfo:hover .profileIcons {
  color: black;
}

.profileIcons:active {
  transform: translateY(2px);
}

.qualiBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px;
}

.userPanelInputsTitles {
  font-family: $font3;
  padding: 0 0 0 10px;
}

.uploadPhotoInputPosition {
  display: flex;
  flex-direction: column;
}

.photoUpload {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.photoUploadTitle {
  margin-bottom: 10px;
  text-align: center;
}

#photoUploadInput {
  margin-bottom: 20px;
}

.photoUploadButtons {
  display: flex;
  justify-content: space-between;
}

.userPanelInputs {
  width: 86%;
  padding: 4px 5px 3px 5px;
  font-size: 20px;
  border-width: 0.5px;
  border-radius: 3px;
  border-style: solid;
  border-color: #666;
}

.userPanelInputs:hover,
.userPanelInputs:focus {
  background: rgb(235, 235, 235);
}
