@charset "UTF-8";
.navbar {
  list-style: none;
  height: 50px;
  background-color: #ffbc6c;
  box-shadow: 0px 1px 3px grey;
  position: relative; }

.navbar-element {
  z-index: 900;
  float: left;
  height: 49px; }

.navbar-element-right {
  z-index: 900;
  height: 50px;
  float: right; }

.navbar-element-text {
  text-transform: uppercase;
  padding: 5px;
  font-family: "Amiko", sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 11px;
  user-select: none; }

.navbar-element:hover {
  cursor: pointer;
  background-color: #fac788; }

.navbar-element-right:hover {
  cursor: pointer;
  background-color: #fac788;
  border-bottom-left-radius: 20px 50px;
  border-top-left-radius: 20px 50px; }

.navbar-right-menu {
  text-align: right; }

.navbar-element-logo {
  margin: 2px;
  float: left;
  height: 40px;
  user-select: none; }

.navbar-element-hamburger {
  float: right;
  height: 40px;
  display: none; }

.logo {
  user-select: none;
  float: left;
  height: 48px; }

.hamburger {
  padding: 13px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 35px;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

.hamburger--emphatic {
  overflow: hidden; }

.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in; }

.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }

.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }

.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent; }

.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

@media only screen and (max-width: 840px) {
  .navbar {
    background-color: #ffbc6c;
    width: 100%; }
  .navbar-element,
  .navbar-element-right {
    display: none; }
  .navbar-element-hamburger {
    float: right;
    height: 40px;
    display: initial; }
  .navbar-element.show {
    float: left;
    width: 100%;
    height: 49px;
    text-align: center;
    background-color: #ffbc6c;
    display: initial; }
  .navbar-element-right.show {
    float: left;
    width: 100%;
    height: 49px;
    text-align: center;
    background-color: #ffbc6c;
    display: initial; }
  .navmargin {
    margin-top: 6px; }
  .navbar-element:hover {
    cursor: pointer;
    background-color: #fac788; }
  .navbar-element-right:hover {
    cursor: pointer;
    background-color: #fac788;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; } }

.box {
  background: white;
  box-shadow: 0 1px 0 #d6d6d6;
  margin: 2em auto;
  width: 400px;
  height: 300px;
  padding: 1em;
  position: relative;
  display: inline-table;
  margin-left: 20px;
  margin-right: 20px; }

/* lil box*/
.card .card__corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
  background-color: #e6e7e8; }

.card .card__corner .card__corner-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 2em 2em 0;
  border-color: transparent #f1f2f2 transparent transparent; }

.projectlist__title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  text-align: center;
  word-break: break-word;
  font-weight: 200;
  box-shadow: 0 2px 0 #ffbc6c; }

.projecttile__description {
  padding: 10px;
  word-break: break-word;
  color: #666;
  font-weight: 200;
  text-align: center; }

.projectstile {
  max-width: 1500px;
  width: 100%;
  margin: auto; }

@media only screen and (max-width: 760px) {
  .box {
    width: 90%;
    min-width: 300px;
    margin: auto;
    margin: 10px; } }

@media only screen and (min-width: 761px) and (max-width: 1450px) {
  .box {
    width: 43%;
    margin: auto;
    margin: 10px; } }

.ownerPanel {
  width: 70%;
  min-width: 300px;
  min-height: 200px;
  margin: 10px;
  padding: 10px;
  display: inline-table;
  border: 2px solid;
  border-color: #ffbc6c;
  background: white;
  border-radius: 10px; }

.bg {
  height: 100vh; }

.bgImg {
  background-image: url("../assets/images/bglogin.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  filter: sepia(45%); }

.flex {
  position: fixed;
  display: flex;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center; }

.whiteBox {
  display: flex;
  background-color: white;
  width: 500px;
  height: 800px;
  border-radius: 3px;
  box-shadow: 0px 0px 15px 3px grey;
  text-align: center;
  flex-direction: column;
  align-items: center; }

.loginLogo {
  margin-top: 20px;
  background-image: url("../assets/images/logo.png");
  width: 160px;
  height: 115px;
  background-size: cover; }

.siteName {
  margin-top: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 65px;
  letter-spacing: 1px;
  word-spacing: 1.6px;
  color: #3b3b3b;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none; }

.loginTitle {
  font-size: 30px;
  letter-spacing: 0.1px;
  color: #3b3b3b;
  font-weight: 700;
  font-family: "Amiko", sans-serif; }

#loginFrom {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 25px;
  align-items: center; }

.formInput {
  font-size: 20px;
  text-align: left;
  color: #666;
  padding: 10px;
  border-style: outset; }

.formInput::placeholder {
  color: #9b9b9b; }

.noAccountDesc {
  margin-bottom: 10px; }

.goToRegisterLink {
  background: none;
  font-size: inherit;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #1f1f1f;
  text-decoration: underline; }

.goToRegisterLink:hover {
  text-decoration: underline;
  color: orange; }

.goToRegisterLink:focus {
  outline-color: orange; }

.noAccountFooter {
  margin-top: auto;
  margin-bottom: 20px; }

.resetPassword {
  align-self: flex-end;
  margin-top: -10px; }

.input {
  position: relative;
  width: 380px;
  height: 28px;
  background: linear-gradient(21deg, #fcd9bb, #725f48);
  padding: 6px;
  display: inline-block;
  border-radius: 18px;
  margin-bottom: 20px; }
  .input *:not(span) {
    height: 28px;
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0.5px 0.5em;
    z-index: 1;
    font-size: 22px;
    font-family: inherit;
    line-height: inherit;
    color: #2e3750;
    width: 13em;
    caret-color: grey; }
    .input *:not(span):focus + span {
      opacity: 1;
      transform: scale(1); }
  .input span {
    transform: scale(0.993, 0.94);
    transition: transform .5s, opacity .25s;
    opacity: 0;
    position: absolute;
    z-index: 0;
    margin: 4px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: 3px -3px 30px #D8B79B,  -3px 3px 30px #7C6951; }

.input::placeholder {
  color: #cbd0d5; }

input:focus::-webkit-input-placeholder {
  opacity: 0; }

.submitButtonBrown {
  -moz-box-shadow: 0px 3px 28px -6px #71747a;
  -webkit-box-shadow: 0px 3px 28px -6px #71747a;
  box-shadow: 0px 3px 28px -6px #71747a;
  background-color: #faa844;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  border: 1px solid #ffe3ba;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Ubuntu", MS;
  font-size: 24px;
  padding: 4px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 9px #a86d6d;
  outline: none;
  margin-top: 45px; }

.submitButtonBrown:hover {
  background-color: #faa844; }

.submitButtonBrown:active {
  position: relative;
  top: 1px; }

.submitButtonBrown:active {
  transform: translate(0, 1px); }

#registerForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 25px;
  align-items: center; }

.registerInput {
  position: relative;
  width: 380px;
  height: 28px;
  background: linear-gradient(21deg, #fcd9bb, #725f48);
  padding: 6px;
  display: inline-block;
  border-radius: 18px;
  margin-bottom: 10px; }
  .registerInput *:not(span) {
    height: 28px;
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0.5px 0.5em;
    z-index: 1;
    font-size: 22px;
    font-family: inherit;
    line-height: inherit;
    color: #2e3750;
    width: 13em;
    caret-color: grey; }
    .registerInput *:not(span):focus + span {
      opacity: 1;
      transform: scale(1); }
  .registerInput span {
    transform: scale(0.993, 0.94);
    transition: transform .5s, opacity .25s;
    opacity: 0;
    position: absolute;
    z-index: 0;
    margin: 4px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: 3px -3px 30px #D8B79B,  -3px 3px 30px #7C6951; }

.registerInput::placeholder {
  color: #cbd0d5; }

input:focus::-webkit-input-placeholder {
  opacity: 0; }

.registerSubmitButtonBrown {
  -moz-box-shadow: 0px 3px 28px -6px #71747a;
  -webkit-box-shadow: 0px 3px 28px -6px #71747a;
  box-shadow: 0px 3px 28px -6px #71747a;
  background-color: #faa844;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  border: 1px solid #ffe3ba;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Ubuntu', MS;
  font-size: 20px;
  padding: 4px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 9px #a86d6d;
  outline: none;
  width: 45%;
  margin-top: 50px; }

.registerSubmitButtonBrown:hover {
  background-color: #faa844; }

.registerSubmitButtonBrown:active {
  position: relative;
  top: 1px; }

.registerSubmitButtonBrown:active {
  transform: translate(0, 1px); }

.personWhiteBar {
  position: relative;
  z-index: 1000;
  height: inherit;
  background-color: white;
  padding: 5px 0px 5px 25px;
  box-sizing: border-box;
  border-bottom-left-radius: 20px 50px;
  border-top-left-radius: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  box-shadow: -9px 0px 51px -10px rgba(0, 0, 0, 0.59);
  margin-left: -7px; }

.personWhiteBar:hover {
  height: 70px;
  z-index: 1000; }

.personContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  user-select: none; }

.personPhoto {
  width: 70px;
  border-bottom-left-radius: 30px 50px;
  border-top-left-radius: 30px 50px;
  text-align: center;
  overflow: hidden;
  user-select: none; }

.personName,
.personFirmName {
  font-family: "Source Sans Pro"; }

.personName {
  font-weight: 700; }

.personFirmName {
  margin-top: 3px;
  font-size: 14px; }

@media only screen and (min-width: 840px) {
  .personWhiteBar:hover .personContainer::after {
    content: "przejdź do profilu";
    font-size: 10px;
    margin-top: 4px;
    font-weight: 700; } }

@media only screen and (max-width: 840px) {
  .personWhiteBar {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    justify-content: center; }
  .personPhoto {
    border-bottom-right-radius: 30px 50px;
    border-top-right-radius: 30px 50px; }
  .personWhiteBar:hover {
    height: inherit; } }

.userProfileBox {
  display: flex;
  flex-direction: column;
  align-items: center; }

.userPhotoAndInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px; }

.photoBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 290px;
  background: linear-gradient(45deg, white, #f1f1f1);
  border-radius: 5px;
  box-shadow: 0px 0px 28px 3px rgba(135, 135, 135, 0.62);
  padding: 15px; }

.userPhoto {
  width: 330px;
  height: 280px;
  border-radius: 5px; }

.userInfoBox {
  width: 390px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px 15px 15px 0px; }

.userInfo {
  margin-top: -8px;
  background: white;
  border-radius: 0px 5px 5px 0px;
  padding: 5px 15px 5px 10px;
  font-size: 20px;
  font-family: "Ubuntu";
  color: #3d3c3c;
  display: inline-flex;
  word-break: break-word;
  box-shadow: 3px 3px 6px 1px rgba(135, 135, 135, 0.62); }

@media only screen and (max-width: 790px) {
  .userInfoBox {
    padding: 15px 0px; }
  .userInfo {
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 10px; } }

.profileIcons {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  margin-left: auto;
  right: 0;
  color: #f1f1f1;
  padding: 0; }

.userInfo:hover .profileIcons {
  color: black; }

.profileIcons:active {
  transform: translateY(2px); }

.qualiBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px; }

.userPanelInputsTitles {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0 0 0 10px; }

.uploadPhotoInputPosition {
  display: flex;
  flex-direction: column; }

.photoUpload {
  display: flex;
  flex-direction: column;
  align-content: center; }

.photoUploadTitle {
  margin-bottom: 10px;
  text-align: center; }

#photoUploadInput {
  margin-bottom: 20px; }

.photoUploadButtons {
  display: flex;
  justify-content: space-between; }

.userPanelInputs {
  width: 86%;
  padding: 4px 5px 3px 5px;
  font-size: 20px;
  border-width: 0.5px;
  border-radius: 3px;
  border-style: solid;
  border-color: #666; }

.userPanelInputs:hover,
.userPanelInputs:focus {
  background: #ebebeb; }

.userQualiBox {
  display: flex;
  flex-direction: column;
  padding: 15px; }

.userQualiList {
  max-width: 390px;
  display: flex;
  list-style-type: none;
  padding-right: 40px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; }

.userQuali {
  padding: 4px;
  font-size: 22px;
  border-width: 0px;
  background-color: #2887b2;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 0px 7px rgba(66, 66, 66, 0.4);
  text-shadow: 0px 0px 10px rgba(66, 66, 66, 0.66);
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-flex;
  word-break: break-word; }

.qualiIcons {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  margin-left: auto;
  right: 0;
  color: #ce9a9a;
  padding: 0;
  padding-left: 15px; }

.userQuali:hover .qualiIcons {
  color: red; }

.userQualiBox {
  display: flex; }

.userQualiAddForm {
  margin: 4px 0px;
  max-width: 365px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px; }

.userQualiInputField {
  width: 100%;
  height: 36px;
  border-style: solid;
  border-radius: 3px;
  border-width: 3px;
  border-color: #2887b2;
  padding: 5px 10px;
  font-size: 16px; }

.mainPageBG {
  position: relative;
  background: url("../assets/images/dpzshd.jpg") no-repeat center top;
  background-size: cover;
  height: 60vw;
  width: 100vw;
  max-height: 893px;
  z-index: -5; }

.BGBlur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  word-break: break-word;
  justify-content: center;
  z-index: 100;
  background: #ffbc6c;
  filter: opacity(0.6);
  z-index: -3; }

.siteTitlePlaceholder {
  text-align: center;
  font-size: 7vw;
  font-family: "Noto Sans", sans-serif;
  word-spacing: 1.6px;
  font-weight: 700;
  font-variant: small-caps;
  opacity: 0;
  z-index: -10; }

.mainPageTextBar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  word-break: break-word;
  justify-content: center;
  z-index: -2; }

.projectSpace {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; }

.mainPageButton {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none; }

.mainPageButton:hover {
  border-radius: 3px;
  animation: fill-with-color 0.3s;
  animation-fill-mode: forwards; }
  .mainPageButton:hover .seeProjectsButton {
    background: #ffb052; }

.seeProjectsButton {
  max-height: 50px;
  background: #ffb052; }

.seeProjectsText {
  font-size: 12px;
  display: inline-block;
  padding: 5px; }

.seeProjectsIcon {
  padding: 5px;
  display: inline-block;
  vertical-align: -7px;
  margin-left: 5px; }

/* @keyframes fill-with-color {
  0% {
    background: transparent;
  }
  20% {
    background: rgba(255, 177, 82, 0.137);
  }
  40% {
    background: rgba(255, 177, 82, 0.295);
  }
  60% {
    background: rgba(255, 177, 82, 0.466);
  }
  80% {
    background: rgba(255, 177, 82, 0.726);
  }
  100% {
    background: #ffb052;
  }
} */
.mainPage {
  width: 100%;
  height: calc(100vh - 50px);
  background: #ffd29e;
  background: -moz-linear-gradient(-45deg, #ffd29e 0%, #f1f1f1 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffd29e), color-stop(100%, #f1f1f1));
  background: -webkit-linear-gradient(-45deg, #ffd29e 0%, #f1f1f1 100%);
  background: -o-linear-gradient(-45deg, #ffd29e 0%, #f1f1f1 100%);
  background: -ms-linear-gradient(-45deg, #ffd29e 0%, #f1f1f1 100%);
  background: linear-gradient(135deg, #ffd29e 0%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd29e', endColorstr='#f1f1f1', GradientType=1 );
  background-repeat: repeat-x;
  display: inline-flex; }

.mainPageContainer {
  display: inline-flex;
  flex-direction: column; }

.siteTitle {
  font-size: 120px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-variant: small-caps;
  color: #ffffff;
  text-shadow: 0px 0px 5px #000000;
  padding: 40px 40px 0px 40px;
  margin-top: 40px; }

.siteInfo {
  color: #553529;
  text-shadow: 0px 0px 2px white;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  max-width: 650px;
  margin: 40px;
  padding: 10px; }

.mainPageButton {
  display: flex;
  color: #ffffff;
  text-shadow: 0px 0px 2px #000000;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background: #ffb052;
  width: 300px;
  height: 90px;
  margin: 50px;
  margin: 50px auto;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 0px 0px 6px white; }

.mainPageButton:hover {
  background: #fac788; }

.mainpageButtonLink {
  text-decoration: none; }

.mainPagePhoto {
  align-self: flex-end;
  align-items: center;
  margin: 0 auto; }

@media only screen and (min-width: 1370px) {
  .mainPageContainer {
    margin-left: 150px; } }

@media only screen and (max-width: 930px) {
  .mainPagePhoto {
    display: none; }
  .mainPageContainer {
    margin-left: 0px; }
  .mainPage {
    justify-content: center; } }

.employeesBox {
  display: flex;
  flex-wrap: wrap-reverse;
  height: 100%; }

.employeesLeftColumn {
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column; }

.employeesRightColumn {
  flex: 1;
  align-items: flex-start;
  min-width: 400px;
  display: flex; }

@media only screen and (max-width: 840px) {
  .employeesBox {
    display: inline-flex; } }

.sendInviteBox {
  display: flex;
  width: 100%;
  min-height: 100px; }

.employeePreviewProfileBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e2e2e2;
  padding: 10px 10px 10px 15px;
  margin: 15px;
  border-radius: 3px;
  justify-content: center;
  align-items: center; }

.employeePreviewPhotoAndInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 10px; }

.employeePhotoBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 250px;
  background: linear-gradient(45deg, white, #f1f1f1);
  border-radius: 5px;
  box-shadow: 0px 0px 28px 3px rgba(135, 135, 135, 0.62);
  padding: 15px; }

.employeePhoto {
  width: 280px;
  height: 230px;
  border-radius: 5px; }

.employeeInfoBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px 15px 15px 0px; }

.employeePreviewPanelTitle {
  margin-bottom: 10px; }

.employeeQualiListTitle,
.userQualiAddTitle {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 10px;
  font-size: 36px; }

.userPanelTitle {
  margin-top: 20px;
  font-size: 46px;
  font-family: "Noto Sans", sans-serif;
  text-shadow: 2px 2px white; }

.qualiPreview {
  margin-top: 10px; }

.employeeInfo {
  margin-top: -8px;
  background: white;
  border-radius: 0px 5px 5px 0px;
  padding: 5px 15px 5px 10px;
  font-size: 22px;
  font-family: "Ubuntu";
  color: #3d3c3c;
  display: inline-flex;
  word-break: break-word;
  box-shadow: 3px 3px 6px 1px rgba(135, 135, 135, 0.62); }

@media only screen and (max-width: 1560px) {
  .employeePreviewPhotoAndInfo {
    flex-direction: column;
    align-items: center; }
  .employeeInfo {
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 10px; }
  .employeePhotoBackground {
    display: none; }
  .employeePreviewPanelTitle {
    margin-bottom: 0; } }

@media only screen and (max-width: 840px) {
  .employeePreviewProfileBox {
    display: none; }
  .person__profile {
    display: none; } }

.employeeQualiBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.employeePanelInputsTitles {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0 0 5px 10px; }

.employeesSearchBox {
  max-width: 450px;
  text-align: left;
  border-radius: 10px;
  padding: 8px 30px;
  margin: 10px;
  border: 2px solid #e2e2e2;
  box-shadow: 2px 4px 3px -2px rgba(0, 0, 0, 0.24);
  background-color: white;
  margin-top: 15px; }

.searchEmployeeTitle {
  padding-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  text-align: center;
  word-break: break-word;
  font-weight: 200; }

.searchEmployeeDesc {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
  margin: auto;
  text-align: center; }

.searchEmployeeContainer {
  width: 240px;
  margin: 0 auto; }

#employeeSearchBar {
  padding: 10px;
  display: inline-block; }

.searchEmployeeIcon {
  height: 25px;
  margin: 1px;
  padding: 6px;
  background-color: #FFBC6C;
  position: relative;
  float: right;
  border-radius: 5px; }

.employeeQualiContainer {
  display: flex;
  flex-direction: column;
  padding: 15px; }

.employeeQualiListTitle {
  text-align: center; }

.employeerQualiList {
  max-width: 600px;
  max-height: 400px;
  display: flex;
  list-style-type: none;
  padding-right: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto; }

.employeeQuali {
  padding: 4px;
  font-size: 22px;
  border-width: 0px;
  background-color: #2887b2;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 0px 7px rgba(66, 66, 66, 0.4);
  text-shadow: 0px 0px 10px rgba(66, 66, 66, 0.66);
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-flex;
  word-break: break-word; }

@media only screen and (max-width: 1560px) {
  .employeeQualiListTitle {
    margin-top: 0; }
  .employeerQualiList {
    max-height: 350px;
    overflow: auto; } }

.employeeListBox {
  width: 400px;
  max-width: 450px;
  max-height: 680px;
  overflow: auto;
  text-align: left;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
  border: 2px solid #e2e2e2;
  box-shadow: 2px 4px 3px -2px rgba(0, 0, 0, 0.24);
  background-color: white; }

.employeeList {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  text-align: center;
  word-break: break-word;
  border-bottom: 2px solid #c9c8c8; }

@media only screen and (max-width: 450px) {
  .employeeListBox {
    width: 300px; } }

.person__avatar {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px; }

.person__name {
  float: left;
  vertical-align: middle;
  padding: 0px;
  margin-right: 10px;
  font-size: 14px;
  margin-top: -3px;
  text-align: left; }

.person__status {
  float: right;
  vertical-align: middle;
  padding: 5px; }

.person__profile {
  float: right;
  vertical-align: middle;
  padding: 5px;
  font-weight: bold;
  font-size: small; }

.team__status {
  margin-top: 5px; }

.hello {
  text-align: center;
  background-color: rgba(226, 226, 226, 0.568);
  border-radius: 5px;
  padding: 8px 40px 5px 10px;
  box-shadow: 2px 4px 3px -2px rgba(0, 0, 0, 0.24);
  height: 60%;
  max-width: 350px;
  overflow: auto;
  margin: 20px auto;
  vertical-align: middle; }

.person__link {
  cursor: pointer; }

.groupAdd {
  float: right; }

.TLStar {
  padding: 5px;
  font-size: 30px;
  color: #ffb052;
  text-shadow: 0px 0px 1px #000; }

.addTechnologyBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto; }

.AddTechnologyForm {
  margin: 16px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }

.TechnologyInputField {
  width: 400px;
  height: 36px;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  border-color: #ffbc6c;
  padding: 0px 10px;
  font-size: 16px;
  background: #faebd770; }

@media only screen and (max-width: 800px) {
  .TechnologyInputField {
    width: 90%; } }

.addProjectBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 30px 0px;
  background-color: white;
  border-style: dotted;
  border: 2px solid;
  border-color: #ffbc6c;
  border-radius: 10px;
  max-width: 1300px;
  width: 100%;
  margin: auto;
  margin: 15px 15px 15px 15px; }

.projectData,
.projectDesc {
  width: 40%;
  margin-right: 20px; }

.addProjectForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  width: 100%; }

.AddProjectInputField {
  width: 100%;
  height: 40px;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  border-color: #ffbc6c;
  background: white;
  padding: 5px 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 10px; }

.AddProjectSelectField {
  width: 100%;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  border-color: #ffbc6c;
  font-size: 16px;
  box-sizing: border-box;
  margin: 10px; }

.AddProjectDescField {
  width: 100%;
  min-height: 40px;
  height: 282px;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  border-color: #ffbc6c;
  background: white;
  padding: 5px 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 10px;
  resize: vertical; }

@media only screen and (max-width: 800px) {
  .addProjectForm {
    flex-direction: column; }
  .projectData,
  .projectDesc {
    width: 96%; } }

.AddProjectInputField.DatePlaceholder::before {
  width: 100%;
  color: gray;
  content: attr(placeholder); }

.AddProjectInputField.DatePlaceholder:hover::before {
  width: 0%;
  content: ""; }

.addProjectCenter {
  display: inline-flex;
  width: 100%;
  justify-content: center; }

.positions {
  margin-top: 20px; }

.addProjectResponse {
  margin-top: 20px; }

.urfirm__container {
  width: 70%;
  min-width: 300px;
  min-height: 300px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFBC6C;
  border-radius: 10px;
  display: inline-table;
  background-color: white; }

.urfirm__title {
  padding-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  text-align: center;
  word-break: break-word;
  font-weight: 200; }

.urfirm__description {
  border-top: 2px solid #FFBC6C;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
  margin: auto;
  text-align: center; }

.projectpage__box {
  background: white;
  box-shadow: 0 1px 0 #d6d6d6;
  margin: 2em auto;
  padding: 1em;
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  width: 80%;
  max-width: 1000px; }

.projectpage__card .projectpage__card__corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
  background-color: #e6e7e8; }

.projectpage__card
.projectpage__card__corner
.projectpage__card__corner-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 2em 2em 0;
  border-color: transparent #f1f2f2 transparent transparent; }

.description {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
  margin: auto;
  text-align: center;
  height: 100px; }

.find__description {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
  margin: auto;
  text-align: left; }

.maindescription {
  border-top: 2px solid #ffbc6c;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
  margin: auto;
  text-align: center; }

.project__tile {
  width: 40%;
  min-width: 300px;
  min-height: 300px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #ffbc6c;
  border-radius: 10px;
  display: inline-table;
  background-color: white; }

.project__tile2 {
  width: 20%;
  min-width: 300px;
  min-height: 300px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #ffbc6c;
  border-radius: 10px;
  display: inline-table;
  background-color: white; }

.project__title {
  padding-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  text-align: center;
  word-break: break-word;
  font-weight: 200; }

.project__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%; }

.project__members {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px; }

.members_title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  text-align: center;
  word-break: break-word;
  font-weight: 200;
  box-shadow: 0 2px 0 #ffbc6c; }

.minipanel_title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  text-align: center;
  word-break: break-word;
  border-bottom: 2px solid #c9c8c8; }

.teamleader__panel {
  width: 100%;
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 20px;
  min-height: 400px;
  padding: 10px;
  border: 2px solid #dadada;
  border-radius: 10px;
  display: inline-table;
  background-color: #ebebeb; }

.teamleader__panel__title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  border-bottom: 2px solid #acacac; }

.teamleader__minipanel {
  width: 400px;
  max-width: 450px;
  text-align: left;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
  display: inline-table;
  border: 2px solid #e2e2e2;
  box-shadow: 2px 4px 3px -2px rgba(0, 0, 0, 0.24);
  background-color: white; }

@media only screen and (max-width: 928px) {
  .teamleader__panel {
    padding: 0; }
  .teamleader__minipanel {
    width: 90%;
    min-width: 300px; } }

@media only screen and (max-width: 400px) {
  .teamleader__panel {
    margin-top: 30px;
    width: 100%; }
  .teamleader__minipanel {
    min-width: 260px; } }

#search-bar {
  padding: 10px;
  display: inline-block; }

.searchicon {
  height: 25px;
  margin: 1px;
  padding: 6px;
  background-color: #ffbc6c;
  position: relative;
  float: right;
  border-radius: 5px; }

.search-container {
  width: 240px;
  margin: 0 auto; }

.addposition {
  margin-right: 15px; }

.wantedPanelPosition {
  padding: 5px;
  list-style: none;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  user-select: none; }

.wantedPanelPosition:hover {
  border-color: #ffe8cc;
  border-width: 1px;
  border-style: solid; }

.wantedPanelPosition:focus {
  background: #ffe8cc;
  border-color: #ffe8cc;
  border-width: 1px;
  border-style: solid; }

.catbox {
  padding-top: 20px;
  text-align: center; }

.small {
  margin: 0;
  width: 20%; }

html {
  height: 100%; }

body {
  font: 100% "Source Sans Pro", sans-serif;
  background-color: #f1f1f1;
  height: 100%; }

a:link,
a:visited {
  color: #3b3b3b; }

button {
  font-family: "Amiko", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding: 8px;
  border-radius: 2px;
  border: 0px;
  background-color: #ffbc6c; }

button:focus {
  outline: 0; }

button:hover {
  cursor: pointer;
  background-color: #ffb052; }

.center_of_site {
  margin: 0;
  margin-top: 10px;
  text-align: center; }

h1 {
  font-size: 3em;
  font-weight: 200;
  word-break: break-word;
  margin: 0;
  padding: 0;
  text-align: center; }

h2 {
  margin: 0; }

*:focus {
  outline: none; }

.green {
  background-color: #52d152;
  border-radius: 2px; }

.red {
  background-color: #ca6c6c;
  border-radius: 2px; }

::-webkit-scrollbar {
  width: 10px;
  /* for vertical scrollbars */
  height: 10px;
  /* for horizontal scrollbars */ }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px; }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); }

::placeholder {
  font-family: "Source Sans Pro"; }

input[type="date"] {
  font-family: "Source Sans Pro"; }
