@import "navbar";
@import "project";
@import "login";
@import "loginInputs";
@import "loginButton";
@import "registerInput";
@import "registerButton";
@import "person";
@import "userPanel";
@import "userQualiList";
@import "userQualiAdd";
@import "mainPage";
@import "employeesStyle/employees";
@import "employeesStyle/sendInvite";
@import "employeesStyle/employeePreview";
@import "employeesStyle/employeeSearch";
@import "employeesStyle/employeeQualiList";
@import "employeesStyle/employeeList";
@import "personList";
@import "addTechnology";
@import "addProject";
@import "urfirm";
@import "projectpage";
@import "spinner";

html {
  height: 100%;
}

body {
  font: 100% "Source Sans Pro", sans-serif;
  background-color: #f1f1f1;
  height: 100%;
}

a:link,
a:visited {
  color: rgb(59, 59, 59);
}

button {
  font-family: $font-button;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding: 8px;
  border-radius: 2px;
  border: 0px;
  background-color: #ffbc6c;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
  background-color: #ffb052;
}

.center_of_site {
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 200;
  word-break: break-word;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  margin: 0;
}

*:focus {
  outline: none;
}

.green {
  background-color: rgb(82, 209, 82);
  border-radius: 2px;
}

.red {
  background-color: rgb(202, 108, 108);
  border-radius: 2px;
}

::-webkit-scrollbar {
  width: 10px; /* for vertical scrollbars */
  height: 10px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

::placeholder {
  font-family: "Source Sans Pro";
}

input[type="date"] {
  font-family: "Source Sans Pro";
}
